/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Common Styles */
body {
  font-family: "Poppins", sans-serif;
}

.honda-h1 {
  font-weight: 600;
  font-size: 3rem;
}

.honda-btn {
  background-color: #e76f51;
  color: white;
  padding: 0.6rem 2.5rem;
  border-radius: 0.3rem;
}

.honda-text-color {
  color: #e76f51;
  font-weight: 600;
}

/* Header Styles */
.header-bg-color {
  background-color: #264653;
}

.header-text-p-color {
  color: #e0e0e0;
}

/* Feature Bikes Section */
.gray-img {
  filter: grayscale(100%);
}

/* Happy Customers Section */
.customer-card-img {
  padding: 2.5rem 5.4rem;
}

/* FAQ Section */
.honda-accordian-text {
  font-family: "Inter", sans-serif;
}
